@use '../abstract/_index.scss' as *;
@use '../base/hidden.scss' as *;

.header {
  background: hsl(var(--gray-color));
  color: hsl(var(--secondary-color));
  height: 8.5dvh;
  padding: 2rem 1rem;
  font-size: var(--primary-font-size);
  display: flex;
  align-items: center;

  > * {
    flex: 1;
  }

  &__nav {
    flex: 1.5;
  }
}

.header__nav {
  display: flex;
  justify-content: center;
}

.nav-select__link {
  display: flex;
  align-items: center;
  gap: .35rem;

  &[data-selected] {
    color: hsl(var(--green-color));
  }

  a {
    cursor: pointer;
    font-size: var(--x-font-size);
    transition: font-size .35s;

    @media #{$xs-media-query} {
      font-size: var(--xs-font-size);
    }

    @media #{$mouseDeviceMedia} {
      &:hover {
        font-size: calc(var(--x-font-size) * 1.125);
      }
    }

    @media #{$xs-media-query} and #{$mouseDeviceMedia} {
      &:hover {
        font-size: calc(var(--xs-font-size) * 1.125);
      }
    }
  }

  .nav-select__button-rename {
    cursor: pointer;
    display: inline-flex;
    width: 2rem;
    aspect-ratio: 1;
  }
}

.header__container-toggle-theme {
  display: flex;
  justify-content: center;

  @media #{$m-media-query} {
    display: none;
  }
}

.form-add__input {
  @extend %form-element;
  min-width: 18rem;
}

.form-add__submit {
  @extend %primary-button;
}

.header__container-aside-toggle {
  display: none;

  @media #{$m-media-query} {
    display: flex;
    flex: .25;
  }
}

.header__button-aside-toggle {
  display: inline-flex;
  align-self: center;
  cursor: pointer;
  width: 2.75rem;
  aspect-ratio: 1;
  transition: rotate 250ms ease-out;

  &[aria-expanded="true"] {
    rotate: 180deg;
  }
}

.header__form-add {
  @media #{$xm-media-query} {
    display: none;
  }
}