@use 'abstract/root/_index.scss' as *;
@use 'components/_index.scss';
@use 'base/type.scss';

//?RESET STYLES
*:not(head > *),
*::before,
*::after {
  all: unset;
  box-sizing: border-box;
}

div {
  display: block;
}

//?MAIN STYLES
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: hsl(var(--secondary-color));
}

.main {
  display: flex;
  align-items: flex-start;
  flex: 1;
  overflow-y: hidden;
  height: 100%;
}

#button_toggle-theme {
  --button-color: hsl(var(--orange-color));
  @extend %primary-button;
}