@use 'abstract/root/_index.scss' as *;
@use 'components/_index.scss';
@use 'base/type.scss';

//?RESET STYLES
*:not(head > *),
*::before,
*::after {
  all: unset;
  box-sizing: border-box;
}

div {
  display: block;
}

//?MAIN STYLES
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: hsl(var(--secondary-color));
  position: relative;
  overflow-x: hidden;
}

#button_toggle-theme,
#button_toggle-theme_aside {
  --button-color: hsl(var(--orange-color));
  @extend %primary-button;
}