@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-font-family: 'Roboto', sans-serif;

  --x-font-size: calc(var(--primary-font-size) * 1.3);
  --xs-font-size: calc(var(--x-font-size) * 1.2);
  --primary-font-size: 1.25rem;
}