@use '../root' as *;

%form-element {
  outline: 1px solid hsl(var(--light-gray-color));
  padding: .35rem .45rem;
  border-radius: var(--primary-border-radius);
  cursor: pointer;
  color: hsl(0 0 100);

  &:hover,
  &:focus {
    transition: box-shadow .25s;
    box-shadow: 0 0 5px 1px hsl(var(--light-gray-color));
  }
}

%primary-button {
  --button-color: hsl(var(--blue-color));

  background: var(--button-color);
  padding: .5rem;
  border-radius: var(--primary-border-radius);
  cursor: pointer;
  position: relative;

  &:active {
    top: 2px;
  }

  &:hover,
  &:focus {
    transition: box-shadow .25s;
    box-shadow: 0 0 5px 1px var(--button-color);
  }
}